{{>navbarAlmacen}}
<div class="container ">
        <div class="row  justify-content-center align-items-center ">
            
                <div class="col-10 col-md-8 col-lg-6 shadow-lg p-3 mb-5 mt-4  rounded" style="background-color: #588979;"> 
                    <form action="/almacen/registerItem/add" class="mt4 needs-validation" method="POST" novalidate>
                        <h1 id="h1_register_vacante">Registro de Productos</h1>
                         <br>

                        <div class="form-group mx-auto centro">
                            <input id="itemName" name="itemName" type="text" class="form-control" placeholder="Nombre del producto" required>
                            <div class="valid-feedback">Datos Asignados</div>
                            <div class="invalid-feedback">Complete los datos</div>
                        </div>

                        <div class="form-group mx-auto centro">
                            <input id="price" name="price" type="text" class="form-control" placeholder="Precio" required>
                            <div class="valid-feedback">Datos Asignados</div>
                            <div class="invalid-feedback">Complete los datos</div>
                        </div>    

                        <div class="form-group mx-auto centro">
                            <input id="cantidad" name="cantidad" type="text" class="form-control" placeholder="Cantidad" required>
                            <div class="valid-feedback">Datos Asignados</div>
                            <div class="invalid-feedback">Complete los datos</div>
                        </div>    

                        <div class="form-group mx-auto centro">
                            <input id="code" name="code" type="text" class="form-control" placeholder="Código">
                            <div class="valid-feedback">Datos Asignados</div>
                            <div class="invalid-feedback">Complete los datos</div>
                        </div>    
                        
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            
        </div>    
    </div>
    
    <!-- script para validación de datos-->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
    </script>
    	<!-- Javascript -->
	 

</body>
</html>