<footer id="color" class="bg-dark text-color-whithe text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">
        <h5 class="text-uppercase ">Ohana</h5>

        <p>
          Ohana siginifica familia y tu familia nunca te abandona, ni te olvida...
        </p>
        <p>
          En Ordaz Store cada cliente es ohana.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Familia</h5>

        <p>
          El dinero viene y va. Lo más importante en la vida es la gente que está contigo, aquí y ahora.
        </p>
        <p>
            Nunca se le da la espalda a la familia... incluso cuando ellos te la han dado a ti.
        </p>

      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3"  style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="link-light" href="/">Ordaz Store</a>
  </div>
  <!-- Copyright -->
</footer>