<nav class="navbar navbar-expand-md navbar-dark bg-dark border-3 border-bottom border-primary">
  <div class="container-fluid">
    <a href="/almacen" class="navbar-brand">Ordaz Store</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigationMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navigationMenu" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-3">
          <li class="nav-item"><a class="nav-link" href="/almacen/items">Productos</a></li>
          <li class="nav-item"><a class="nav-link" href="/almacen/registerItem">Nuevo Producto</a></li>
        </ul>
    
        <ul class="navbar-nav ms-3">
          <li class="nav-item"><a class="nav-link disabled">Departamento de Almacén</a></li>
        </ul>
    </div>
  </div>
</nav>