<nav class="navbar navbar-expand-md navbar-dark bg-dark border-3 border-bottom border-primary">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Ordaz Store</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigationMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navigationMenu" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-3">
          <li class="nav-item"><a class="nav-link" href="/user/vacantes">Vacantes</a></li>
          <li class="nav-item"><a class="nav-link" href="/user/store">Tienda</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Misión y Visión</a></li>
        </ul>
        
          <ul id="navegacion2" class="navbar-nav" style="padding-right: 50px;">
          <li class="navbar-item">
            <a class="nav-link" href="/login"><i class="fas fa-user"></i>Login</a>
          </li>
        </ul>
      </div>
  </div>
</nav>